{% extends "base.html" %}
{% load static %}

{% block right_headers %}
  <li><a class="active" href="{% url 'photos' %}">Photos</a></li>
  <li><a href="{% url 'projects' %}">Projects</a></li>
{% endblock %}

{% block content %}
  <script>
    function clicked(container) {
      container.classList.toggle('expanded');
      if (container.classList.contains('expanded')) {
        container.scrollIntoView({ behavior: 'smooth', block: 'center' });
      }
    }
  </script>
  <div class="gallery_container">
    <div class="gallery_title" >
    Photos from my phone that I don't know what to do with
    </div>
    <div class="gallery_title" style="font-size:18px;">
    Click to expand
    </div>
    <div class="gallery">
      {% for image in images %}
        <div class="img_container" onclick="clicked(this)">
          <img src="/static/photos/{{ image }}">
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
