{% extends "base.html" %}
{% load static from staticfiles %}

{% block right_headers %}
	<li><a href="https://mangoprism.com/author/mogryz/">Writing</a></li>
	<li><a href="{% url 'photos' %}">Photos</a></li>
	<li><a href="{% url 'projects' %}">Projects</a></li>
{% endblock %}
{% block content %}
	<div id="chart">
		<script src="https://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="{% static 'balls.js' %}"></script>
	</div>
{% endblock %}


<!-- <div class="info_container">
		<div class="info"></div>
	</div> -->



	
	


